<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/mypage.js"></script>
</head>
<body>
<h1>마이페이지</h1>
<div>
    <p>이름: <span th:text="${member.name}"></span></p>
    <p>이메일: <span th:text="${member.email}"></span></p>
    <p>휴대폰 번호: <span th:text="${member.phoneNumber}"></span></p>
</div>
<a href="#" class="logout-button">로그아웃</a>
<a href="/">홈으로</a>
</body>
</html>
