<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/search.js"></script>
</head>
<body>
<h1>검색 결과: "<span th:text="${query}"></span>"</h1>
<div class="book-list">
    <th:block th:each="book : ${books}">
        <div class="book-item">
            <img th:src="${book.imageUrl}" alt="도서 이미지">
            <p th:text="${book.title}" class="book-title"></p>
            <p th:text="'저자: ' + ${book.author}" class="book-author"></p>
            <p th:text="'출판사: ' + ${book.publisher}" class="book-publisher"></p>
            <p th:text="'가격: ' + ${book.price} + '원'" class="book-price"></p>
        </div>
    </th:block>
</div>
<a href="/" class="back-link">홈으로</a>
</body>
</html>
